---
layout: single
---
<div>
    <h4>PROFESSIONAL EXPERIENCE </h4>
    <p>
        <b>Postdoctoral Researcher, NCSU/ASSIST</b> <br />
        January 2020 – Present
    <ul style="padding-left: 28px;">
        <li> Developed electrically actuated drug delivery system for controlled release of drugs.</li>
        <li> Optimized amperometric and voltammetric setup for controlled electrophoretic bioactuation.</li>
        <li> Bioprinted cardiac stem cell-laden microvasculature invitro to be used as implants to prevent myocardial
            infarction.</li>
        <li> Successfully designed and built a DLP-SLA bioprinter from scratch to be used for high-throughput production
            of
            cell-laden scaffolds integrated with sensors for biophysical monitoring.</li>
    </ul>
    </p>
    <p>
        <b>Postdoctoral Research Associate, TTUHSC </b> <br />
        March 2019 – December 2019
    <ul style="padding-left: 28px;">
        <li> Generated microfluidic nanoparticle drug emulsions for dissolution and permeability studies.</li>
        <li> Trained on cell culture of EC’s, SMC’s, Adventitial and CACO-2 cell lines.</li>
        <li> Developed microfluidic chips for 8 different of pharmacological applications.</li>
        <li> Automated media changing protocol for cell culture within the microfluidic devices.</li>
        <li> Trained graduate students on microfluidic chip design and fabrication tools.</li>
        <li> Worked with 3D printer to develop novel ideas in drug delivery and cell culture systems.</li>
    </ul>
    </p>
    <p>
        <b>Teaching Assistant, Ohio University </b> <br />
        January 2013 – February 2019
    <ul>
        <li>Undergraduate courses
            <ul>
                <li>Circuits II – Filters, Passive Amplifiers, Three phase circuits.</li>
                <li>Electronics 1 -– p-n junctions, BJT, Rectifier, FET.</li>
                <li>Electronics II - Analog Circuits, IC design process, Transistor level design and analysis, Advanced
                    circuit simulation and analysis via SPICE.</li>
                <ul>
                    <li>Lab Instructor</li>
                    <li>Assist and help (in-campus and online) students throughout the semester.</li>
                    <li>Graded assignments and exams.</li>
                </ul>
            </ul>
        </li>
        <li>
            Graduate courses
            <ul>
                <li> Micro and Nano Fabrication - solid-state material and device characterization techniques,
                    semiconductor
                    device fabrication, clean-room tools and practices, advances in nanoscale materials research,
                    processing, and fabrication technologies.</li>
                <li> Embedded Systems - embedded system networks, distributed embedded systems, global and local timing,
                    dependability (fault tolerance), and economics of embedded systems, software design, verification,
                    and
                    validation.
                    <ul>
                        <li>Assist and help (in-campus and online) students throughout the semester.</li>
                        <li>In-class review and revision of course once a month.</li>
                        <li>Graded assignments, projects, and exams.</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
    </p>
    <p>
        <b>Research Assistant, Ohio University</b> <br />
        August 2009 – July 2012
    <ul style="padding-left: 28px;">
        <li>Got trained and gained firsthand experience on all major fabrication tools (Contact aligner, AFM, SEM, STM,
            ICP,
            PECVD)</li>
        <li>Fabricated an amorphous ZnO LOOM waveguide for ammonia gas sensor.</li>
        <li>Worked as a research fellow for NSF-EAGER project.</li>
    </ul>
    </p>

    <hr />

    <h4>EDUCATION</h4>
    <p>
        <b>Post-Doctoral Researcher – Department of Electrical Engineering/Joint Dept of Biomedical Engineering </b>
        <br />
        North Carolina State University - ASSIST January 2020 – Present
        <br />
        Projects: Microfluidics,3D Bioprinting, Controlled Drug Delivery, Implantable Cardiac Sensors.
    </p>
    <p>
        <b>Post-Doctoral Research Associate in School of Pharmaceutical Sciences</b>
        <br />
        Texas Tech University of Health Sciences March 2019 – Dec 2019
        <br />
        Projects: Organ-on-a-Chip, Drug Delivery, 3D Bioprinting, Cell-culture Automation.
    </p>
    <p>
        <b>Doctor of Philosophy in Electrical Engineering and Computer Science </b>
        <br />
        PhD, Ohio University, Athens, OH January 2013 – November 2018
        <br />
        Dissertation: Novel Capacitive Sensors for Chemical and Physical Monitoring in Microfluidic Devices.
        <br />
        GPA-3.84
    </p>
    <p>
        <b>
            Master of Science in Electrical Engineering and Computer Science </b>
        <br />
        Ohio University, Athens, OH August 2009 – July 2012
        <br />
        Thesis: Process Development of a-ZnO Nanoscale Membrane Waveguides
        <br />
        GPA-3.48
    </p>
    <p>
        <b>
            Bachelor of Science in Electrical Engineering and Computer Science </b>
        <br />
        Anna University, Chennai June 2005 – May 2009
        <br />
        GPA-3.56
    </p>

    <hr />

    <h4>RESEARCH & TECHNICAL SKILLS</h4>
    <p><b>Microfluidics, Nanosensors, Bioprinting, Controlled Drug Delivery, Printed Electronics, Implantable Sensors,
            Electrochemical Sensing, 3D-printing, Cell-culture, Organ-on-a-Chip, Materials, Fabrication,
            Characterization
        </b></p>
    <p>
        <b>Software:</b> MATLAB, EAGLE, Embedded Programming, Solid edge, COMSOL Multiphysics, AutoCAD, Multisim,
        Xilinx,
        Layout Editor, C, Gwyddion, HTML.
        <br />
        <b>System:</b> Extrusion and DLP Bioprinter, Contact Aligner, AFM, STM, FTIR, EDX, PECVD, SEM, XRD, RIE, ICP
        Etcher,
        DEKTAK, DC & RF Sputter, E-Beam Evaporator, Makerbot 3D-printer, Ellipsometer, Electrospinning, Sonoplot
        Microplotter, Dimatix Materials Printer, Screen Printing.
        <br />
        <b>Related Courses:</b> Nanofabrication, Nanodevices, Metamaterials, Modern Optics, Advanced Semiconductors,
        Testable Design, VLSI.
        <br />
    </p>

    <hr />

    <h4>AWARDS & RECOGNITION</h4>
    <ul>
        <li>Served as a judge in the Biomaterials Symposium, October 30,2020.</li>
        <li>Research Highlighted at the Daily Planet Spotlight on Postdocs Event, March 21, 2020.</li>
        <li>Project member of “URINE GREENBOX: Urine to Water with Energy Recycle” recognized as one in the top 10
            projects at MARSONE University Challenge, 2016</li>
        <li>National Science Foundation (NSF - EAGER) Graduate Research Fellow, 2 years (2010-2012)</li>
        <li>IEEE Best student Enterprise Award 2008.</li>
        <li>All India Council of Technical Education (AICTE) Graduate Research Fellow, 3 months (April – June 2007)</li>
        <li>Department of Science and Technology Graduate Research Fellow, 3 months (April – June 2006)</li>
        <li>Defense Research Development Organization (DRDO) Graduate Research Fellow, 3 months (January – March 2006)
        </li>
    </ul>

    <hr />

    <h4>REFERENCES</h4> - Available Upon Request

    <hr />
</div>