---
layout: archive
---

<h4>EDUCATION</h4>
<p>
    <b>Post-Doctoral Researcher – Department of Electrical Engineering/Joint Dept of Biomedical Engineering </b>
    <br />
    North Carolina State University - ASSIST January 2020 – Present
    <br />
    Projects: Microfluidics,3D Bioprinting, Controlled Drug Delivery, Implantable Cardiac Sensors.
</p>
<p>
    <b>Post-Doctoral Research Associate in School of Pharmaceutical Sciences</b>
    <br />
    Texas Tech University of Health Sciences March 2019 – Dec 2019
    <br />
    Projects: Organ-on-a-Chip, Drug Delivery, 3D Bioprinting, Cell-culture Automation.
</p>
<p>
    <b>Doctor of Philosophy in Electrical Engineering and Computer Science </b>
    <br />
    PhD, Ohio University, Athens, OH January 2013 – November 2018
    <br />
    Dissertation: Novel Capacitive Sensors for Chemical and Physical Monitoring in Microfluidic Devices.
    <br />
    GPA-3.84
</p>
<p>
    <b>
        Master of Science in Electrical Engineering and Computer Science </b>
    <br />
    Ohio University, Athens, OH August 2009 – July 2012
    <br />
    Thesis: Process Development of a-ZnO Nanoscale Membrane Waveguides
    <br />
    GPA-3.48
</p>
<p>
    <b>
        Bachelor of Science in Electrical Engineering and Computer Science </b>
    <br />
    Anna University, Chennai June 2005 – May 2009
    <br />
    GPA-3.56
</p>